body {
    background: rgb(0, 0, 0);
    background: linear-gradient(313deg, rgba(0, 0, 0, 0.6124824929971988) 0%, rgba(0, 0, 0, 0.7021183473389356) 66%);
}

h1 {
    text-align: center;
    font-size: 70px;
}

.calcu {
    max-width: 400px;
    margin: 50px auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgb(0, 0, 0);
    border-radius: 50px;
    background-color: #808080;
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    background-color: #999;
    border-radius: 50px 50px 0px 0px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.button {
    border: 0.5px solid#999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgb(39, 39, 39);
    color: white;
}
.point {
    border: 0.5px solid#999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgb(39, 39, 39);
    color: white;
}

.numBtn {
    border: 0.5px solid#999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgb(39, 39, 39);
    color: white;
}



#equal, #oper {
    background-color: silver;
    color: black;
    border: 0.5px solid#999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgb(114, 99, 99);
    color: rgb(0, 0, 0);
}

#equal:hover{
    background-color: #808080;
    color: white;
}

#oper:hover {
    background-color: #808080;
    color: white;
}

.button:hover {
    background-color: #808080;
    color: black;
}

.numBtn:hover {
    background-color: #808080;
    color: black;
}

.point:hover {
    background-color: #808080;
    color: black;
}

.trans {
    background-color: transparent;
}
